<h2>
    Namespace:
</h2>
<p>
    <a href="command:solargraph._openDocument?<%= URI.escape "\"solargraph:/document?#{object.namespace}\"" %>"><%= object.namespace %></a>
</p>
<h2>
    Parameters:
</h2>
<% if object.parameters.empty? %>
    None
<% else %>
    <ul>
    <% object.parameters.each do |p| %>
        <li>
            <%= p[0] %>
            <%= " = #{p[1]}" unless p[1].nil? %>
        </li>
    <% end %>
    </ul>
<% end %>
<% unless object.tag(:return).nil? %>
    <h2>
        Returns:
    </h2>
    <p>
        <%= object.tag(:return).types.join(', ') unless object.tag(:return).types.nil? or object.tag(:return).types.empty? %>
    </p>
    <p>
        <%= object.tag(:return).text %>
    </p>
<% end %>
