<h2>
    Namespace:
</h2>
<p>
    <a href="command:solargraph._openDocument?<%= URI.escape "\"solargraph:/document?#{object.namespace}\"" %>"><%= object.namespace %></a>
</p>
<h2>
    Overview:
</h2>
<%= htmlify object.docstring %>
<% unless object.tags(:param).empty? %>
    <h2>
        Parameters:
    </h2>
    <ul>
        <% object.tags(:param).each do |tag| %>
            <li>
                <%= tag.name %> <% unless tag.types.empty? %>[<%= tag.types.join(', ') %>]<% end %> <%= tag.text %>
            </li>
        <% end %>
    </ul>
<% end %>
<h2>
    Returns:
</h2>
<% if object.tag(:return).nil? %>
    <p>
        Undefined/unknown
    </p>
<% else %>
    <% tag = object.tag(:return) %>
    <% unless tag.types.nil? or tag.types.empty? %>
        [<%= tag.types.join(', ') %>]
        <% unless tag.text.empty? %>
            -
        <% end %>
    <% end %>
    <% unless tag.text.empty? %>
        <%= tag.text %>
    <% end %>
<% end %>
<% examples = object.tags(:example) %>
<% unless examples.nil? %>
    <% examples.each do |example| %>
        <h2>
            Example: <%= example.name %>
        </h2>
        <%= ruby_to_html example.text.strip %>
    <% end %>
<% end %>
